useDynLib(svgViewR, .registration = TRUE)

exportPattern("^[[:alpha:]]+")

exportClass(Rhttpd2)
export(Rhttpd2)

importFrom("grDevices", "col2rgb", "dev.off", "rgb")
importFrom("methods", "new")
importFrom("stats", "median", "na.omit", "prcomp", "sd", "setNames")
importFrom("utils", "capture.output", "head", "packageVersion", "tail", "URLdecode", "URLencode")

import(Rcpp)
import(grid)
import(rjson)
import(Rook)
import(methods)

S3method(print, obj)