a {
	color: #0af;
}
body {
	color: white;
	font-family:Monospace;
	font-size:13px;
	text-align:center;
	margin: 0px;
	overflow: hidden;
}
.alert, .clock, .idx, .time {
	position:absolute;
	left:10px;
	z-index:5;
	color:white;
	background-color:black;
}
.clock {
	top:70px;
}
.idx {
	top:90px;
}
.time {
	top:110px;
}
.alert {
	top:130px;
}
#info {
	position: absolute;
	top: 0px; width: 100%;
	padding: 5px;
}
